body{
    justify-content: center;
    margin: auto;
    align-content: center;
    background-color: rgb(255, 255, 255);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  
  .flex-conteiner {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    width: 1100px;
    margin: 0 auto;
  }

  .button {
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    top: 50px;
    left: 80%;
    background: #b32529;
    color: #ececec;
    padding: 13px;
    margin-right: 15px;
    border-radius: 50px;
    border: none;
    transition: all 500ms ease;
  }
  
  
  
  .button:hover {
    color: white;
    background: rgb(138, 0, 0);
    cursor: pointer;
  }
  
  .logo-nav-container {
    background-color: #b32529;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  #button-up {
    width: 40px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    z-index: 1;
  }
  
  #button-up:hover {
    transform: scale(1.1);
  }

  .sombra{
    transition: all 500ms ease;
    animation-duration: 3s;
    animation-name: moves;
    animation-iteration-count: infinite;
  
  }

  @keyframes moves {
  
    0%, 40%, 80%  {
      box-shadow: 1px 1px 30px 1px rgb(255, 138, 48);
     
      }
     20%, 60%, 100% {
      box-shadow: 5px 10px 20px 1px rgba(255, 194, 147, 0);
      
      }
    
  }
  
  .parpadeo{
    animation-duration: 3s;
    animation-name: move;
    animation-iteration-count: infinite;
  
  }
  
  @keyframes move {
    0%, 40%, 80%  {
      opacity: 1;
      }
     20%, 60%, 100% {
      opacity: 0;
      }
    
  }
  
  .caja1 {
    width: 500px;
    height: 350px;
    position: relative;
  }
  
  .caja2 {
    width: 500px;
    height: 350px;
  }
 

  .caja-padre2 {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    margin-top: 60px;
    width: 1100px;
    margin: 0 auto;
  }
  

  .vineta3 {  
    width: 1018px;
    height: 524px;
    cursor: pointer;
    animation-duration: 3s;
    animation-name: moves;
    animation-iteration-count: infinite;
  }
  
  .caja-padre3 {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    margin-top: 60px;
    width: 1100px;
    margin: 0 auto;
  }
  
  .vineta5 {  
    width: 1018px;
    height: 524px;
    cursor: pointer;
  }
   
  .caja6 {
    width: 300px;
    height: 300px;
  }
  .vineta6 {
    position: absolute;
    width: 524px;
    margin-left: 40px;
    cursor: pointer;
  }

  .caja7 {
    width: 800px;
    height: 327px;
  }
  
  .vineta7 {
    margin-left: 271px;
  }
  
  .caja-padre4 {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    width: 1100px;
    margin: 0 auto;
  }

  .caja-padre5 {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    margin-top: 60px;
    width: 1000px;
    margin: 0 auto;
  }
  .caja8 {
    width: 300px;
    height: 300px;
  }
  .vineta8 {
    position: absolute;
    width: 490px;
    margin-left: -12px;
  }

  .caja9 {
    width: 800px;
    height: 293px;
  }
  
  .vineta9 {
    width: 495px;
    margin-left: 318px;
    cursor: pointer;
  }
  
  .caja-padre6{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    width: 1100px;
    margin: 0 auto;
    position: relative;
  }

 .caja10{
    padding: 20px;
    justify-content: space-around;
    width: 1100px;
    margin: 0 auto;
 }
  .caja10-1 {
    width: 500px;
  }

  .vineta10-1 {
    width: 561px;
    margin-left: 31px;
    cursor: pointer;
  }
  .caja10-2 {
    margin-top: 19px;
    width: 500px;
    height: 250px;
  }
  .vineta10-2 {
    width: 561px;
    margin-left: 31px;
    cursor: pointer;
  }

  .caja-padre6-1 {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    width: 1100px;
    margin: 0 auto;
  }
  .caja12 {
    width: 500px;
    position: relative;
    overflow: hidden;
    margin-left: 76px;
    margin-top: 16px;
  }

  .caja-padre7 {
    display: flex;
    padding: 57px;
    justify-content: space-around;
    width: 1000px;
    margin: 0 auto;
  }

  .caja13 {
    width: 300px;
    height: 300px;
  }

  .vineta13 {
    position: absolute;
    width: 527px;
    margin-left: -124px;
    cursor: pointer;
  }

  .caja14 {
    width: 300px;
    height: 300px;
  }

  .vineta14 {
    position: absolute;
    width: 519px;
    margin-left: -69px;
  }


  .caja-padre8 {
    display: flex;
    padding: 57px;
    justify-content: space-around;
    width: 1000px;
    margin: 0 auto;
  }

  .caja15 {
    width: 300px;
    height: 300px;
  }

  .vineta15 {
    position: absolute;
    width: 527px;
    margin-left: -124px;
    cursor: pointer;
  }

  .caja16 {
    width: 300px;
    height: 300px;
  }

  .vineta16 {
    position: absolute;
    width: 519px;
    margin-left: -69px;
    cursor: pointer;
  }

  .caja-padre9 {
    display: flex;
    padding: 57px;
    justify-content: space-around;
    width: 1000px;
    margin: 0 auto;
  }

  .caja17 {
    width: 300px;
    height: 300px;
  }

  .vineta17 {
    position: absolute;
    width: 527px;
    margin-left: -124px;
  }

  .caja18 {
    width: 300px;
    height: 300px;
  }

  .vineta18 {
    position: absolute;
    width: 519px;
    margin-left: -69px;
    cursor: pointer;
  }

  .caja-padre10 {
    display: flex;
    padding: 57px;
    justify-content: space-around;
    width: 1000px;
    margin: 0 auto;
  }

  .caja19 {
    width: 300px;
    height: 300px;
  }

  .vineta19 {
    position: absolute;
    width: 527px;
    margin-left: -124px;
    cursor: pointer;
  }

  .caja20 {
    width: 300px;
    height: 300px;
  }

  .vineta20 {
    position: absolute;
    width: 519px;
    margin-left: -69px;
    cursor: pointer;
  }

  .caja-padre11 {
    display: flex;
    padding: 57px;
    justify-content: space-around;
    width: 1000px;
    margin: 0 auto;
  }

  .caja21 {
    width: 300px;
    height: 300px;
  }

  .vineta21 {
    position: absolute;
    width: 527px;
    margin-left: -124px;
    cursor: pointer;
  }

  .caja22 {
    width: 300px;
    height: 300px;
  }

  .vineta22 {
    position: absolute;
    width: 519px;
    margin-left: -69px;
    cursor: pointer;
  }

  .caja-padre12 {
    display: flex;
    padding: 57px;
    justify-content: space-around;
    width: 1000px;
    margin: 0 auto;
  }

  .caja23 {
    width: 300px;
    height: 300px;
  }

  .vineta23 {
    position: absolute;
    width: 527px;
    margin-left: -124px;
    cursor: pointer;
  }

  .caja24 {
    width: 300px;
    height: 300px;
  }

  .vineta24 {
    position: absolute;
    width: 519px;
    margin-left: -69px;
    cursor: pointer;
  }

  .caja-padre13 {
    display: flex;
    padding: 57px;
    justify-content: space-around;
    width: 1000px;
    margin: 0 auto;
  }

  .caja25 {
    width: 300px;
    height: 300px;
  }

  .vineta25 {
    position: absolute;
    width: 527px;
    margin-left: -124px;
    cursor: pointer;
  }

  .caja26 {
    width: 300px;
    height: 300px;
  }

  .vineta26 {
    position: absolute;
    width: 519px;
    margin-left: -69px;
    cursor: pointer;
  }


  .caja-padre14 {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    margin-top: 60px;
    width: 1100px;
    margin: 0 auto;
  }
  

  .vineta27 {  
    width: 1018px;
    height: 524px;
    cursor: pointer;
  }

  .caja-padre15 {
    display: flex;
    padding: 57px;
    justify-content: space-around;
    width: 1000px;
    margin: 0 auto;
  }

  .caja28 {
    width: 300px;
    height: 300px;
  }

  .vineta28 {
    position: absolute;
    width: 527px;
    margin-left: -124px;
    cursor: pointer;
  }

  .caja29 {
    width: 300px;
    height: 300px;
  }

  .vineta29 {
    position: absolute;
    width: 526px;
    margin-left: -69px;
    cursor: pointer;
  }


  .caja-padre16 {
    display: flex;
    padding: 57px;
    justify-content: space-around;
    width: 1000px;
    margin: 0 auto;
  }

  .caja30 {
    width: 300px;
    height: 300px;
  }

  .vineta30 {
    position: absolute;
    width: 527px;
    margin-left: -124px;
    cursor: pointer;
  }

  .caja31 {
    width: 300px;
    height: 300px;
  }

  .vineta31 {
    position: absolute;
    width: 519px;
    margin-left: -69px;
    cursor: pointer;
  }

  .caja-padre17 {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    margin-top: 60px;
    width: 1100px;
    margin: 0 auto;
  }
  
  .vineta32 {  
    width: 1018px;
    height: 524px;
    cursor: pointer;
  }

  .caja-padre18 {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    margin-top: 60px;
    width: 1100px;
    margin: 0 auto;
  }

  .vineta33 {  
    width: 1018px;
    height: 524px;
    cursor: pointer;
  }


  #button-up {
    width: 40px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;

    z-index: 1;
  }
  
  #button-up:hover {
    transform: scale(1.1);
  }
  
  .footer {
    background: rgb(48 41 23);
    padding: 1rem;
    position: absolute;
    width: 100%;
    margin-top: 150px;
  }
  
  .info-footer {
    font-size: 13px;
    text-align: center;
    color: white;
    margin-bottom: 0%;
  }